// Spacing

.mb-5 {
    margin-bottom: 110px !important;
}

.mt-5 {
    margin-top: 94px !important;
}

.mt-6 {
    margin-top: 136px !important
}

// Font

.v-application {
    font-family: 'Aero', sans-serif !important;
}

html {
    font-family: 'Aero', sans-serif !important;
}
