@import '../variables.scss';
@import '../styles/global.scss';

#coming-soon {
    margin: 0 !important;
    width: 100%;
}

.vue-responsive-videobg {
    background-color: black !important;
    // position: static;
    overflow: hidden scroll;
}